body {
  background-image: url('https://cdn.hipwallpaper.com/i/66/17/aNL3dG.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}